In [2]:
import pandas as pd
df=pd.read_csv("puf2016.csv")
df

C:\Users\cbccc\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (34,48,53,66,85,86,87,89,103,104,112,113,114,130,132,134,136,137,138,139,140,141,142,143,144,145,146,147,160,165,166,167,170,171,183,186,191,192,193,194,196,197,201,209,211,216,218,220,221,222,223,226,232,248,249,254,256,257,263,264,265,266,267,269,270,271,281,282,283,284,289,290,291,292,293,294,295,296,298,300,302,309,310) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,PUF_ID,SVYYR,ADM_H_ENT,ADM_H_MEDSTA,ADM_H_GHPSW,ADM_H_PDRS,ADM_OP_MDCD,ADM_PARTD,ADM_ACOFLAG,ADM_FFS_FLAG_YR,...,EEYRS091,EEYRS092,EEYRS093,EEYRS094,EEYRS095,EEYRS096,EEYRS097,EEYRS098,EEYRS099,EEYRS100
0,16000001,2016,2,3,2,1.0,2,1,1,3,...,1730.863696,315.422808,1772.439746,2014.649096,325.924565,1515.141757,313.119607,2046.638105,393.058043,380.735043
1,16000002,2016,1,1,2,1.0,1,2,2,3,...,6448.706281,24524.935702,4837.843981,7129.014867,29151.731944,29396.561818,5072.077989,27137.197856,5097.901657,4878.055919
2,16000006,2016,2,1,1,1.0,1,1,2,1,...,3589.669228,499.620974,517.477715,2904.884066,2866.824292,580.906592,535.377989,3361.963502,3010.362589,497.151719
3,16000008,2016,2,1,1,1.0,1,1,2,1,...,3740.417968,783.611754,4256.555251,824.458231,4553.515534,665.623951,767.555640,680.624207,3780.704442,671.883483
4,16000012,2016,2,1,2,1.0,1,1,2,3,...,4104.799801,749.123388,3521.030891,713.109543,3600.575591,705.059726,3831.571491,650.836074,4093.686322,768.398950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12847,16029981,2016,2,1,1,1.0,1,1,2,1,...,1234.394527,1058.740323,6025.064552,5246.875209,1219.011647,5858.149729,1228.645954,1114.537873,6308.306858,848.221149
12848,16029982,2016,1,1,2,1.0,1,2,2,3,...,2679.638403,17906.614954,2839.899552,2871.333068,14299.039438,3346.839137,15355.398260,3156.777227,15880.477545,3274.994259
12849,16029987,2016,2,1,2,1.0,4,1,2,3,...,10874.920786,10880.431160,11052.252864,1812.650395,1735.177414,1521.385574,1852.467857,1850.749929,1864.327536,1997.597927
12850,16029995,2016,2,1,1,1.0,1,2,2,1,...,689.073165,3935.787808,4130.862469,636.415596,697.301111,3594.934614,3979.600002,614.986237,668.539998,784.706248
12851,16029999,2016,2,1,2,1.0,1,1,2,3,...,798.589839,3996.519005,795.681872,4094.858793,813.376059,4256.764149,796.530679,4234.534422,801.317909,3876.057245

In [3]:
df=df[df['ADM_H_MEDSTA']==1]
df

,PUF_ID,SVYYR,ADM_H_ENT,ADM_H_MEDSTA,ADM_H_GHPSW,ADM_H_PDRS,ADM_OP_MDCD,ADM_PARTD,ADM_ACOFLAG,ADM_FFS_FLAG_YR,...,EEYRS091,EEYRS092,EEYRS093,EEYRS094,EEYRS095,EEYRS096,EEYRS097,EEYRS098,EEYRS099,EEYRS100
1,16000002,2016,1,1,2,1.0,1,2,2,3,...,6448.706281,24524.935702,4837.843981,7129.014867,29151.731944,29396.561818,5072.077989,27137.197856,5097.901657,4878.055919
2,16000006,2016,2,1,1,1.0,1,1,2,1,...,3589.669228,499.620974,517.477715,2904.884066,2866.824292,580.906592,535.377989,3361.963502,3010.362589,497.151719
3,16000008,2016,2,1,1,1.0,1,1,2,1,...,3740.417968,783.611754,4256.555251,824.458231,4553.515534,665.623951,767.555640,680.624207,3780.704442,671.883483
4,16000012,2016,2,1,2,1.0,1,1,2,3,...,4104.799801,749.123388,3521.030891,713.109543,3600.575591,705.059726,3831.571491,650.836074,4093.686322,768.398950
5,16000013,2016,2,1,1,1.0,1,1,2,1,...,581.538823,628.516429,3325.480654,683.222446,3245.491288,666.556473,3268.595057,3496.216067,620.991980,729.444157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12847,16029981,2016,2,1,1,1.0,1,1,2,1,...,1234.394527,1058.740323,6025.064552,5246.875209,1219.011647,5858.149729,1228.645954,1114.537873,6308.306858,848.221149
12848,16029982,2016,1,1,2,1.0,1,2,2,3,...,2679.638403,17906.614954,2839.899552,2871.333068,14299.039438,3346.839137,15355.398260,3156.777227,15880.477545,3274.994259
12849,16029987,2016,2,1,2,1.0,4,1,2,3,...,10874.920786,10880.431160,11052.252864,1812.650395,1735.177414,1521.385574,1852.467857,1850.749929,1864.327536,1997.597927
12850,16029995,2016,2,1,1,1.0,1,2,2,1,...,689.073165,3935.787808,4130.862469,636.415596,697.301111,3594.934614,3979.600002,614.986237,668.539998,784.706248
12851,16029999,2016,2,1,2,1.0,1,1,2,3,...,798.589839,3996.519005,795.681872,4094.858793,813.376059,4256.764149,796.530679,4234.534422,801.317909,3876.057245

In [4]:
df1=df[df['DEM_RACE']==1][["DEM_RACE","ACC_HCDELAY"]]
df1

       DEM_RACE ACC_HCDELAY
1             1           2
2             1           2
3             1           2
4             1           2
6             1           2
...         ...         ...
12844         1           2
12846         1           2
12848         1           2
12850         1           2
12851         1           2

[8205 rows x 2 columns]

In [5]:
df2=df[df['DEM_RACE']==2][["DEM_RACE","ACC_HCDELAY"]]
df2

       DEM_RACE ACC_HCDELAY
13            2           2
16            2           2
42            2           2
76            2           2
111           2           1
...         ...         ...
12756         2           2
12757         2           2
12765         2           2
12800         2           2
12845         2           2

[849 rows x 2 columns]

In [15]:
import numpy as np
import scipy.stats as stats
a1=list(df1.ACC_HCDELAY).count("1")+list(df1.ACC_HCDELAY).count(1)
a2=df1.ACC_HCDELAY.count()-a1
b1=list(df2.ACC_HCDELAY).count("1")+list(df2.ACC_HCDELAY).count(1)
b2=df2.ACC_HCDELAY.count()-b1
obs = np.array([[a1,b1], [a2,b2]])
obs

array([[ 462,   77],
       [7737,  772]])

In [9]:
fisher_result = stats.fisher_exact(obs)
p_val = fisher_result[1]
p_val

0.00013228283716352855

8205